#page {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header header header"
        "leftcol leftdragbar tabs tabs tabs"
        "leftcol leftdragbar tabpages rightdragbar rightcol"
        "leftcol leftdragbar footer footer footer";
    grid-template-rows: min-content 0fr 1000fr 1fr;
    grid-template-columns: 2fr 6px 2fr 6px 6fr;
}

/*****************************/

#leftcol {
    background-color: #ffffff;
    overflow: auto;
    grid-area: leftcol;
}

#leftdragbar {
    background-color: black;
    grid-area: leftdragbar;
    cursor: ew-resize;
}

#tabpages {
    background-color: #f0dada;
    overflow: auto;
    grid-area: tabpages;
}

#rightdragbar {
    background-color: black;
    grid-area: rightdragbar;
    cursor: ew-resize;
}

#rightcol {
    background-color: #f0eaea;
    overflow: auto;
    grid-area: rightcol;
}
